@using HairSalon.Models;

<h2>@Model["specialty"].GetType()</h2>
    <hr />

    @if (@Model["specialtyStylists"].Count != 0)
    {
      <h4>Here are the stylists available by this specialty:</h4>
      <ul>
      @foreach (var stylist in @Model["specialtyStylists"])
      {
        <li>@stylist.GetName()</li>
      }
      </ul>
    }

    <h4>Add a stylist to this specialty:</h4>

    <form action='/specialties/@Model["specialty"].GetId()/stylists/new' method='post'>
      <label for='stylistId'>Select a stylist</label>
      <select id='stylistId' name='stylistId' type='text'>

        @foreach (var stylist in @Model["allStylists"])
        {
          <option value='@stylist.GetId()'>@stylist.GetName()</option>
        }

      </select>
      <button type='submit' class="btn btn-dark">Add</button>
    </form>

    <p><a href="/">Return to Main Page</a></p>
